body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div{
  padding-top: 10px;
  padding-left: 10px;
}

label{
  display: flex;
  margin: 0px 0 10px 0px;
}

input{
  margin-left: 40px;
}

.password{
  margin-left: 18px;
}

.checkBox{
  margin-left: 2px;
  margin-bottom: -3px;
}